spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql:{your url}
spring.datasource.username={your user}
spring.datasource.password={your password}

spring.jpa.hibernate.ddl-auto=update
spring.jpa.database=postgresql
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQL10Dialect
spring.jpa.show-sql=true

logging.level.web=trace
logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter=debug

handlers=java.util.logging.FileHandler
java.util.logging.FileHandler.pattern=hospital_app_log.txt
java.util.logging.FileHandler.limit=1000000
java.util.logging.FileHandler.count=5
java.util.logging.FileHandler.formatter=java.util.logging.SimpleFormatter